In [1]:
import pandas as pd
import numpy as np

In [5]:
size = int(1e8)
df = pd.DataFrame(np.random.random((size, 3)).round(2))
df.columns = ['a', 'b', 'c']
df.head()

      a     b     c
0  0.40  0.06  0.96
1  0.56  0.78  0.48
2  0.65  0.38  0.92
3  0.10  0.41  0.91
4  0.18  0.28  0.36

In [7]:
df = df.drop_duplicates(['a', 'b'])

In [4]:
df.drop_duplicates(['a', 'b'], inplace=True)

In [19]:
dups = df.duplicated(['lat', 'lon'])
df = df[~dups]
dups = 0

                 b         c
0         0.648319  0.697017
1         0.531081  0.049382
2         0.755220  0.213092
3         0.546213  0.193680
4         0.430330  0.211566
...            ...       ...
99999995  0.024983  0.778562
99999996  0.284676  0.775991
99999997  0.782005  0.670452
99999998  0.486767  0.368839
99999999  0.413756  0.182298

[100000000 rows x 2 columns]